//@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import 'template/main.scss';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.header-bottom-layout-2 .header-left {
    padding: 10px 20px;
    padding-top: 0px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(14.75px);
    border-radius: 0 0 16px 16px;
    border-right: 1.5px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
}
